.layoutHeader{
    background-color: #fff;
    .headerTop{
        border-bottom:1px solid #1da57a;
        text-align: right;
        line-height: 40px;
        padding-right:30px;
    }
    .headerBottom{
        height:40px;
        display: flex;
        align-items: center;
        .headerBottomRight{
          width: 25%;
          text-align: center;
        }
        .headerBottomLeft{
            width: 75%;
            text-align: right;
        }
    }
}